body{
    background: rgb(229, 235, 238);
    font-family: Roboto, Arial;
}

#container{
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px;
}

#search-area{
    margin-top: 30px;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 10px;
}

#search-box{
    padding: 5px;    
    width: 200px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(250, 237, 250);
}

#drop-down{
    padding: 5px;    
    width: 200px;
    background-color: white;
    border: none;
    border-radius: 5px;
}

@media (max-width: 768px) {
    #search-area {
        flex-direction: column;
        gap: 20px; 
    }

    #search-box,
    #drop-down {
        width: 100%;
        max-width: 300px; 
    }
}

#main-title{
    display: flex;
    justify-content: center;
}

#main-content{
    margin-top: 30px;
    display: flex;
    justify-content: center; 
    margin-right: 220px;
}

#main-content-container{
    width: 500px;
    display: grid;
    place-items:center;
    grid-template-columns: repeat(3, minmax(200px,1fr));
    row-gap: 20px;  
    column-gap: 40px;
}

/* Media queries for smaller screens */

@media (max-width: 768px) {
    #main-content-container {
        grid-template-columns: repeat(2, minmax(300px, 1fr)); 
        margin-left: 200px;
    }
}

@media (max-width: 576px) {
    #main-content-container {
        grid-template-columns: minmax(200px, 1fr); 
    }
}

.content-section{
    background-color: white;
    width: 220px;
    height: 185px;    
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(228, 202, 228);
}

img{    
    padding-top: 10px;
}

p{
    color: rgb(101, 98, 98);
    font-size: 12px;
    font-family: Roboto, Arial;
}
.properties{
    line-height: 4px;
}

.title{
    margin-top: 1px; 
    font-size: 14px;
}

/* Adjustments for smaller screens */

@media (max-width: 576px) {
    .content-section {
        height: auto; 
    }

    .title {
        margin-top: 10px; 
    }

    p {
        font-size: 14px; 
    }
}